h1{
    text-align: center;
    padding: 70px 0px 50px 0px;
    font-family: monospace;
    font-weight: 600;
    color: darkcyan;
}

.center1{
    text-align: center;
    border: cadetblue double 4px;
    width: 400px;
    height: 110px;
    padding: 10px;
    color: #7c203a;
    font-weight: 500;
}

.center2{
    text-align: center;
    border: cadetblue double 4px;
    width: 400px;
    height: 230px;
    padding: 10px;
}

