h1{
    text-align: center;
    padding: 25px 0px;
    font-family: sans-serif;
    font-weight: 600;
    color: darkcyan;
}

.center1{
    text-align: center;
    border: cadetblue double 4px;
    width: 475px;
    height: 110px;
    padding: 10px;
    color: #7c203a;
    font-weight: 600;
    border-radius: 10px;
}

.center2{
    text-align: center;
    border: cadetblue double 4px;
    width: 475px;
    height: 230px;
    padding: 10px;
    border-radius: 10px;
}

