<div class="d-flex justify-content-center" style="margin-top: 90px;">
    
    <img src="assets/image/jlr-logo.png" height="75px" width="180px" />
    <h1>Supplier On Boarding Portal</h1>
</div>
<div class="container center1 mat-elevation-z8" *ngIf="!externalUser">
    <div class="mb-2"><u>Login As</u></div>
    <a mat-button target="_blank" color="primary" (click)="loginUser()">Internal user</a>
|
    <a mat-button target="_blank" color="accent" (click)="externalUser=true">External user</a>
</div>

<div class="container center2 mat-elevation-z6" *ngIf="externalUser"> Enter Credentials<br>
    <form #userForm="ngForm" novalidate>
        
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="userModel.username" name="username" #username="ngModel" required>
            <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is
                required</small>
        </mat-form-field> <br>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" style="max-width: 500px;" #password="ngModel" required
              [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="userModel.password">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </mat-form-field> <br>

    </form>

    <button mat-stroked-button color="primary" style="margin: 5px;" [disabled]="userForm.form.invalid" (click)="loginUser()">
        Login
    </button>
    <button mat-stroked-button color="primary" style="margin: 5px;" (click)="externalUser=false">
        Back
    </button>
</div>