.spacer{
    flex: 1 1 auto;
}

.mat-toolbar .mat-toolbar-row, .mat-toolbar-single-row {
    background: #332e808f;
    height: 46px;
    position: sticky;
    top: 0; /*Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

@media screen and (max-width: 500px) {
    #app_title:before {
      content: "PPT";
    }
  }
  
  @media screen and (min-width: 501px) {
    #app_title:before {
      content: "Portfolio Project Tracker";
    }
  }

  .parentpopup{
    position: relative; 
  }
  /* login icon popup */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
.popup .popuptext {
  visibility: hidden;
  /* width: 160px; */
  background-color:#fff;
  color:   #ff4d86;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 100;
  bottom: -190%;
  left: -290%;
  margin-left: -80px;
  border-style: solid;
  border-color: #ff4d86;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -18%;
  left: 90%;
  margin-left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ff4d86;
  border-color: transparent transparent #ff4d86 transparent;
}
/* .popup:hover .popuptext {
  visibility: visible;
} */

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }