<div class="container">
  <h2 style="margin-top: 20px;">Sign Up Form</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="alert alert-danger alert-dismissible" *ngIf="differentPassword">
      <a class="close" data-dismiss="alert" aria-label="close" (click)="differentPassword=''">&times;</a>
      {{differentPassword}}
    </div>


    <div class="form-group">
      <label>Name</label>
      <input type="text" style="max-width: 500px;" #name="ngModel" required class="form-control"
        [class.is-invalid]="name.invalid && name.touched" autocomplete="off" name="name" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group">
      <label>CDS Id</label>
      <input type="text" style="max-width: 500px;" #userId="ngModel" required class="form-control input-sm"
        [class.is-invalid]="userId.invalid && userId.touched" autocomplete="off" name="userId" [(ngModel)]="userModel.userId">
      <small class="text-danger" [class.d-none]="userId.valid || userId.untouched">CDS Id is required</small>
    </div>

    <div class="form-group">
      <label>Email Id</label>
      <input type="email" style="max-width: 500px;" #emailId="ngModel" required class="form-control input-sm"
        [class.is-invalid]="emailId.invalid && emailId.touched" autocomplete="off" name="emailId" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userModel.emailId">
      <div *ngIf="emailId.touched">
         <small class="text-danger" *ngIf="!emailId.value">Email Id is required</small> 
         <small class="text-danger" *ngIf="emailId.value && emailId.invalid">Email Id is not valid</small> 
      </div>
      
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" style="max-width: 500px;" #password="ngModel" required class="form-control input-sm"
        [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="userModel.password">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
    </div>

    <div class="form-group">
      <label style="font-style: italic;">Confirm Password</label>
      <input type="password" style="max-width: 500px;" #confirmPassword="ngModel" required class="form-control input-sm"
        [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" name="confirmPassword"
        [(ngModel)]="userModel.confirmPassword">
      <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched">Confirm Password is
        required</small>
    </div>

    <button class="btn btn-primary" style="margin-top: 20px;" [disabled]="userForm.form.invalid" type="submit">Sign
      Up</button>

  </form>

</div>