/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer{
   position: fixed;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 3px 3px;
   z-index: 1000;
}

h1,  h2,  h3,  h4,  h5,  h6 {
   margin: 8px 0;
 }

 .toolbar_footer_color{
   background: #c7d7e0;
 }